<%- include('partials/header'); -%>
<div
  style="
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: auto;
    margin-top: 50px;
    border: 0.1px;

  "
>
  <h1 style="color:red">404</h1>
  <h1>You have error , You delete it ?</h1>
</div>

<%- include('partials/footer'); -%>
